*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: aqua;
}
