* {
  box-sizing: border-box;
}
/* General Styles */
body {
  line-height: 1.5;
  margin: 0;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: aqua;
}
/* Main Section Styles */
/* Footer Styles */
.navbar {
  background-color: cadetblue;
  margin: 0 auto;
  padding: 0.2rem;
}

.navbar-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style-type: none;
}
/* Nav-Bar Styles */
/* Index Styles */
/* Bookmarks Styles */
/* Create Styles */
/* Profile Styles */
