.card {
  align-items: center;
  background-color: #611b3c;
  border-radius: 2%;
  box-shadow: 2px 2px 6px 2px #330e1f;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 2rem auto;
  padding: 1rem 0.5rem;
  width: 80vw;
}

.card__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding-left: 0;
}

.card__option {
  background-color: var(--secondary);
  padding: 0.2rem;
  margin: 0.2rem;
  width: 13rem;
  border-radius: 10px;
  border: 1px solid var(--secondary-dark);
  box-shadow: 1px 1px 1px var(--grey-darkest);
  text-align: center;
}
