header {
  background-color: var(--secondary);
  border-bottom: 2px solid var(--secondary-dark);
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 70%;
}

h1 {
  color: var(--black);
  font-family: var(--ff-hand);
}
